<header class="site-header">
  <div class="header-container">
    <a href="{{ '/' | relative_url }}" class="logo">
      <img 
        src="{{ site.app_icon | relative_url }}" 
        alt="{{ site.app_name }}" 
        class="logo-icon"
      >
      <span class="logo-text">{{ site.app_name }}</span>
    </a>
    
    <nav>
      <ul class="nav-links">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">
            GitHub
          </a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">
            Twitter
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ site.download }}" class="nav-cta">
            Download
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
